* {
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.topNav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    top: 0;
}

.sideBar {
    background: green;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    left: 0;
    top: 0;
}

@media screen and (max-width: 800px) {
    .sideBar {
        background: green;
        position: fixed;

        display: flex;
        flex-direction: row;
        align-items: center;

        top: 0;

    }
}

.name {
    padding-right: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-size: 24px;
    text-shadow: 2px 2px 8px black;
    margin: 10px 0;
}

.title {
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
    font-weight: 300;
    margin: 0;
}

.motto {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    margin: 10px 0;

}

.contact-button {
    margin: 0 10px;
    color: black;
}

.contact-button:hover {
    color: white;
}

.nav-button-list {
    width: 100%;
    margin: 10px 0;

}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    width: 100%;
    height: 40px;
    color: black;
}

.active-nav-button {
    background: linear-gradient(to right, #e2e200, #cc0000);
}

.nav-button:visited {
    color: black;
}

.about-info {
    height: 20%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.resume, .resume:visited {
    height: 40px;
    width: 90px;
    border: 4px groove #e75cf2;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.resume:active {
    border: 4px inset #e75cf2;
}

/**
 * Customize the ScrollBar
 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(0, 143, 195);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px #2365b2;
}

.fade-enter {
    opacity: 0.2;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.close-tag {
    display: block;
    align-self: flex-end;
    font-size: 28px;
    color: #aaa;
    padding: 10px;
}

.close-tag:hover {
    cursor: pointer;
    color: black;
}

.login {
    font-size: 25px;
    position: fixed;
    left: 5px;
    bottom: 5px;
}

/* The close button */
.close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-btn:hover {
    color: black;
}

.tablinks {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.tablinks:hover {
    background-color: #ddd;
    cursor: pointer;
}

.cursorHoverPointer:hover {
    cursor: pointer;
}